{% extends 'index.html'%}
{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
	<link rel="icon" href="images/img1.jpg">
	<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
	<link rel="stylesheet" href="{% static 'css/style.css' %}">

	<title>Staunishing</title>
</head>
<body>
{% block body %}
<div class="container">
    <div class="row">
        <h3>Admin Page</h3>
            <table class="table">
				<tr>
                    <th></th>
                    <th>Name</th>
                    <th>Price</th>
                    <th>Quantity</th>
                </tr>
                {% for i in Data %}
                  <tr>
					<td><a href="#"><img src="{{i.img1.url}}" width="200" depth="200"></a></td>
					<td>
                        <h4>{{i.Name}}</h4>
                    </td>
                      <td><p>{{i.Price}}</p>
                      </td>
                      <td>
                          <div class="quantity">
                              <span class="qty-minus" onclick="var effect = document.getElementById('qty'); var qty = effect.value; if( !isNaN( qty ) &amp;&amp; qty &gt; 1 ) effect.value--;return false;"><i class="fa fa-minus" aria-hidden="true"></i></span>
                              <input type="number" class="qty-text" id="qty" step="1" min="1" max="300" name="quantity" value="1">
                              <span class="qty-plus" onclick="var effect = document.getElementById('qty'); var qty = effect.value; if( !isNaN( qty )) effect.value++;return false;"><i class="fa fa-plus" aria-hidden="true"></i></span>
                          </div>
                      <p>{{i.count}}</p>
					</td>
                      <td><a class="btn btn-primary" href="/edit/{{i.id}}">Edit</a> </td>
                      <td><a class="btn btn-info" href="/delete/{{i.id}}">Delete</a> </td>
				  </tr>
				{% endfor %}
			</table>
        <a href="/logout/" class="btn btn-danger">Logout</a>
        <a href="/addproduct/" class="btn btn-success">Add Product</a>

    </div>

</div>
{% endblock %}
<script src="{% static 'js/jquery.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
</body>
</html>