{% extends 'index.html'%}
{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
	<link rel="icon" href="images/img1.jpg">
	<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
	<link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Acme&display=swap" rel="stylesheet">
	<title>Staunishing</title>
</head>
<body>

{% block body %}
<div class="container" style="background-color:rgba(48, 51, 56,1); font-family: 'Acme', sans-serif;">
    <div class="row">
        <h1 style="font-family: 'Acme', sans-serif; color:red; ">CheckOut Page</h1>
    </div>
    <form action="#" method="post" style="font-family: 'Acme', sans-serif; color:red; ">
        {% csrf_token %}
            <input type="text"  name="name" value="" placeholder="Name"><br>
            <input type="text" name="mobile" placeholder="Mobile Number"><br>
            <input type="email" name="email" placeholder="Email"><br>
            <select name="state"><br>
               <option value="haryana">Haryana</option>
                <option value="delhi">Delhi</option>
                <option value="punjab">Punjab</option>
                <option value="up">Utter Pardesh</option>
                <option value="mp">Madhya Pardesh</option>
                <option value="mh">Maharastra</option>
                <option value="rj">Rajasthan</option>
                <option value="hm">Himachal</option>
             </select><br>
             <input type="text"  name="city" placeholder="City"><br>
             <input type="text" name="address" placeholder="Address"><br>
             <input type="text"  name="pin" placeholder="Pin Code"><br>

        <div class="cart-summary">
            <h5>Cart Total</h5>
            <ul class="summary-table">
                <li><span>subtotal:</span> <span>{{Total}}</span></li>
                <li><span>delivery:</span> <span>Free</span></li>
                <li><span>total:</span> <span>{{Total}}</span></li>
            </ul>
            <select name="choice"><br>
                <option value="COD">COD</option>
            </select><br>
            <button type="submit">CheckOut</button>
            {% if messages %}
            {% for i in messages %}
            {{i}}
            {% endfor %}
            {% endif %}
        </div>
    </form>

</div>
{% endblock %}
<script src="{% static 'js/jquery.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
</body>
</html>