{% extends 'index.html'%}
{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
	<link rel="icon" href="images/img1.jpg">
	<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
	<link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Acme&display=swap" rel="stylesheet">
	<title>Staunishing</title>
</head>
<body>
{% block body %}
<div class="container" style="background-color:rgb(222, 208, 82);">
    <div class="row">
        <h1 style="font-family: 'Acme', sans-serif;">Login Page</h1>
    </div>
    <form action="" method="post" style="font-family: 'Acme', sans-serif;color:red;">
        {% csrf_token %}
            <input type="text" name="uname" placeholder="UserName"><br>
            <input type="password"  name="pward"><br>
            <button type="submit" class="btn btn-info">Login</button>
            <a class="btn btn-info" href="/signup/">SignUp</a>
    </form>
    {% if messages %}
      <div class="alert alert-danger">
        {% for i in messages %}
             {{i}}
        {% endfor %}
      </div>
    {% endif %}

</div>
{% endblock %}
<script src="{% static 'js/jquery.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
</body>
</html>